<div class="container-fluid">

  <div class="row ">

    <div class="col-9">
      <div class="card">
        <div class="card-header text-left">
          Список
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-2">
              <button type="button" (click)="AddPerson()" class="btn btn-block btn-secondary">Добавить</button>
            </div>
            <div class="col-2">
              <button type="button" (click)="EditPerson()" class="btn btn-block btn-secondary">Изменить</button>
            </div>
            <div class="col-2">
              <button type="button" (click)="DeletePerson()" class="btn btn-block btn-secondary">Удалить</button>
            </div>
            <div class="col-2">
              <button type="button" (click)="NewRequest()" class="btn btn-block btn-secondary" [disabled]="allowNewRequest" data-toggle="modal" data-target="#eventModal">Новая заявка</button>
            </div>
            <!--<div class="col-12">
              <input autocomplete="off" class="form-control" placeholder="Поиск" name="search" type="text">
            </div>-->
          </div>

          <div class="alert alert-danger" *ngIf="gridErrors">
            <ul>
              <li *ngFor="let item of gridErrors; let i = index" [attr.data-index]="i">
                - {{item}}
              </li>
            </ul>
          </div>

          <div style="height:600px;overflow:auto;">
            <table class="table table-striped table-hover tableFixHead">
              <thead>
                <tr>
                  <th scope="col"><input autocomplete="off" type="checkbox" (change)="selectAll()" [checked]="selectedAll"></th>
                  <th scope="col">#</th>
                  <th scope="col">ФИО</th>
                  <th scope="col">Компания</th>
                  <th scope="col">Роль</th>
                  <th scope="col">Зона</th>
                  <th scope="col">Email</th>
                  <th scope="col">Телефон</th>
                  <th scope="col">Декларация</th>
                  <th scope="col">ПЦР</th>
                  <th scope="col">Статус</th>
                  <th scope="col">Причина статуса</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let person of persons; index as i">
                  <td><input autocomplete="off" type="checkbox" [(ngModel)]="person.selected" [checked]="person.selected"></td>
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ person.FullName }}</td>
                  <td>{{ person.Company }}</td>
                  <td>{{ person.Position }}</td>
                  <td>{{ person.Zone }}</td>
                  <td>{{ person.Email }}</td>
                  <td>{{ person.Phone }}</td>
                  <td>{{ person.HasDeclaration }}</td>
                  <td>{{ person.HasPcr }}</td>
                  <td>{{ person.Status }}</td>
                  <td>{{ person.BlockReason }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="card-header text-left">
          Карточка сотрудника
        </div>
        <div class="card-body">
          <form [formGroup]="personForm">
            <fieldset>
              <!--<div style="border:1px dashed gray; height:150px;" class="text-center">
                ФОТО
              </div>-->

              <div style="max-height:200px;" id="dragzone">
                <input autocomplete="off" type="file" accept="image/*"
                       required id="profilePhoto" draggable="true"
                       (change)="fileChangeEvent($event)"
                       formControlName="profilePhoto" />
                <image-cropper *ngIf="croppedImage"
                               [imageChangedEvent]="imageChangedEvent"
                               [maintainAspectRatio]="true"
                               [aspectRatio]="1 / 1"
                               format="png"
                               (imageCropped)="imageCropped($event)"
                               (imageLoaded)="imageLoaded()"
                               (cropperReady)="cropperReady()"
                               (loadImageFailed)="loadImageFailed()"></image-cropper>
              </div>
              <div style="height:160px;" *ngIf="croppedImage">
                <img [src]="croppedImage" width="150" />
              </div>
              <br />
              <div class="form-group">
                <input autocomplete="off" class="form-control" placeholder="ФИО" name="fullname" type="text" formControlName="fullname" required>
              </div>
              <div class="form-group">
                <input autocomplete="off" class="form-control" placeholder="Организация" name="company" type="text" formControlName="company" required>
              </div>
              <div class="form-group">
                <select class="form-control" placeholder="Роль" name="position" formControlName="position" required>
                  <option *ngFor="let item of positions" [value]="item">{{item}}</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" placeholder="Зона" name="zone" formControlName="zone" required>
                  <option *ngFor="let item of zones" [value]="item">{{item}}</option>
                </select>
              </div>
              <div class="form-group">
                <input autocomplete="off" class="form-control" placeholder="Email" name="email" type="text" formControlName="email">
              </div>
              <div class="form-group">
                <input autocomplete="off" class="form-control" placeholder="Телефон" name="phone" type="text" formControlName="phone">
              </div>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input autocomplete="off" class="form-check-input" type="checkbox" name="hasdeclaration" formControlName="hasdeclaration">
                    Наличие справки по форме РФС
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input autocomplete="off" class="form-check-input" type="checkbox" name="haspcr" formControlName="haspcr">
                    Наличие анализа Пцр
                  </label>
                </div>
              </div>
              <div class="form-group">
                <select class="form-control" name="status" formControlName="status" required>
                  <option *ngFor="let item of statuses" [value]="item">{{item}}</option>
                </select>
              </div>
              <div class="form-group">
                <select class="form-control" placeholder="Причина статуса" name="blockreason" formControlName="blockreason">
                  <option value=""></option>
                  <option *ngFor="let item of blockreasons" [value]="item">{{item}}</option>
                </select>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input autocomplete="off" class="form-check-input" type="checkbox" name="deleted" formControlName="deleted">
                    Запись удалена
                  </label>
                </div>
              </div>
              <input autocomplete="off" class="btn btn-lg btn-success btn-block" type="button" value="Сохранить" (click)="SavePerson()" [disabled]="personForm.status == 'invalid'">

              <br />
              <div class="alert alert-danger" *ngIf="errors.length > 0">
                <ul>
                  <li *ngFor="let item of errors; let i = index" [attr.data-index]="i">
                    - {{item}}
                  </li>
                </ul>
              </div>
              <div class="alert alert-danger" *ngIf="personForm.errors">
                <ul>
                  <li *ngFor="let item of personForm.errors; let i = index" [attr.data-index]="i">
                    - {{item}}
                  </li>
                </ul>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>

  </div>


  <!-- Modal -->
  <div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="eventModalLabel">Выбрать матч</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <fieldset>
            <div class="form-group">
              <select class="form-control" placeholder="Матч" name="event" [(ngModel)]="selectedEvent" required>
                <option *ngFor="let item of events" [ngValue]="item">{{item.Name}}</option>
              </select>
            </div>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-primary" (click)="NewRequest()">Создать</button>
        </div>
      </div>
    </div>
  </div>
</div>

