<div class="container">
  <div class="row">
    <div class="col-12 align-content-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Вход</h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="loginForm">
            <fieldset>
              <div class="form-group">
                <input class="form-control" placeholder="yourmail@example.com" name="email" type="text" formControlName="username" required>
              </div>
              <div class="form-group">
                <input class="form-control" placeholder="Password" name="password" type="password" formControlName="password" required>
              </div>
              <input class="btn btn-lg btn-success btn-block" type="button" value="Вход" (click)="Login()" [disabled]="!loginForm.valid">

              <br/>
              <div class="alert alert-danger" *ngIf="message">
                {{message}}
              </div>

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
